In [57]:
import numpy as np
import pandas as pd
import nltk
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [26]:
file = open('task_tdif.txt','r')

In [27]:
x=[]
for i in file:
    x.append(i)

In [33]:
x

['document1 = "Python is a 2000 made-for-TV horror movie directed by Richard Clabaugh. The film features several cult favorite actors, including William Zabka of The Karate Kid fame, Wil Wheaton, Casper Van Dien, Jenny McCarthy, Keith Coogan, Robert Englund (best known for his role as Freddy Krueger in the A Nightmare on Elm Street series of films), Dana Barron, David Bowe, and Sean Whalen. The film concerns a genetically engineered snake, a python, that escapes and unleashes itself on a small town. It includes the classic final girl scenario evident in films like Friday the 13th. It was filmed in Los Angeles,  California and Malibu, California. Python was followed by two sequels: Python  II (2002) and Boa vs. Python (2004), both also made-for-TV films."\n',
 'document2 = "Python, from the Greek word (p????/p????a?), is a genus of nonvenomous pythons found in Africa and Asia. Currently, 7 species are recognised. A member of this genus, P. reticulatus, is among the longest snakes known."\n',
 'document3 = "The Colt Python is a .357 Magnum caliber revolver formerly manufactured by Colt\'s Manufacturing Company of Hartford, Connecticut. It is sometimes referred to as a ""Combat Magnum"". It was first introduced in 1955, the same year as Smith &amp; Wesson\'s M29 .44 Magnum. The now discontinued Colt Python targeted the premium revolver market segment. Some firearm collectors and writers such as Jeff Cooper, Ian V. Hogg, Chuck Hawks, Leroy Thompson, Renee Smeets and Martin Dougherty have described the Python as the finest production revolver ever made."\n']

In [48]:
doc1 =x[0].split('=')[1]

In [49]:
doc2=x[1].split('=')[1]

In [50]:
doc3 =x[2].split('=')[1]

In [51]:
print(doc1)

 "Python is a 2000 made-for-TV horror movie directed by Richard Clabaugh. The film features several cult favorite actors, including William Zabka of The Karate Kid fame, Wil Wheaton, Casper Van Dien, Jenny McCarthy, Keith Coogan, Robert Englund (best known for his role as Freddy Krueger in the A Nightmare on Elm Street series of films), Dana Barron, David Bowe, and Sean Whalen. The film concerns a genetically engineered snake, a python, that escapes and unleashes itself on a small town. It includes the classic final girl scenario evident in films like Friday the 13th. It was filmed in Los Angeles,  California and Malibu, California. Python was followed by two sequels: Python  II (2002) and Boa vs. Python (2004), both also made-for-TV films."

In [52]:
print(doc2)

 "Python, from the Greek word (p????/p????a?), is a genus of nonvenomous pythons found in Africa and Asia. Currently, 7 species are recognised. A member of this genus, P. reticulatus, is among the longest snakes known."

In [53]:
print(doc3)

 "The Colt Python is a .357 Magnum caliber revolver formerly manufactured by Colt's Manufacturing Company of Hartford, Connecticut. It is sometimes referred to as a ""Combat Magnum"". It was first introduced in 1955, the same year as Smith &amp; Wesson's M29 .44 Magnum. The now discontinued Colt Python targeted the premium revolver market segment. Some firearm collectors and writers such as Jeff Cooper, Ian V. Hogg, Chuck Hawks, Leroy Thompson, Renee Smeets and Martin Dougherty have described the Python as the finest production revolver ever made."

In [54]:
from nltk.stem import PorterStemmer, SnowballStemmer

In [55]:
def clean_txt(sent):
    tokens = word_tokenize(sent.lower())
    stemmer_s = SnowballStemmer("english")
    stop_updated = stopwords.words("english") + list(punctuation) 
    final_word = [term for term in tokens if term not in stop_updated 
               and len(term) > 2] 
    res = " ".join(final_word)
    return res

In [58]:
doc1_clean = clean_txt(doc1)
doc1_clean

'python 2000 made-for-tv horror movie directed richard clabaugh film features several cult favorite actors including william zabka karate kid fame wil wheaton casper van dien jenny mccarthy keith coogan robert englund best known role freddy krueger nightmare elm street series films dana barron david bowe sean whalen film concerns genetically engineered snake python escapes unleashes small town includes classic final girl scenario evident films like friday 13th filmed los angeles california malibu california python followed two sequels python 2002 boa vs. python 2004 also made-for-tv films'

In [59]:
doc2_clean = clean_txt(doc2)
doc2_clean

'python greek word genus nonvenomous pythons found africa asia currently species recognised member genus reticulatus among longest snakes known'

In [60]:
doc3_clean = clean_txt(doc3)
doc3_clean

'colt python .357 magnum caliber revolver formerly manufactured colt manufacturing company hartford connecticut sometimes referred combat magnum first introduced 1955 year smith amp wesson m29 .44 magnum discontinued colt python targeted premium revolver market segment firearm collectors writers jeff cooper ian hogg chuck hawks leroy thompson renee smeets martin dougherty described python finest production revolver ever made'

In [61]:
doc = pd.DataFrame([doc1_clean, doc2_clean,doc3_clean], columns=["text"])
doc

                                                text
0  python 2000 made-for-tv horror movie directed ...
1  python greek word genus nonvenomous pythons fo...
2  colt python .357 magnum caliber revolver forme...

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
count_vectorizer = CountVectorizer()

In [64]:
x = count_vectorizer.fit_transform(doc['text'])

In [65]:
x

<3x142 sparse matrix of type '<class 'numpy.int64'>'
	with 146 stored elements in Compressed Sparse Row format>

In [66]:
x.toarray()

array([[1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 2, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 2, 1, 3, 1, 0, 0, 0, 1, 2, 0, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 2,
        0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 2, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 3, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        3, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 3, 0, 0, 1, 1, 0, 3, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [67]:
x.todense()

matrix([[1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 2, 1,
         0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
         1, 1, 1, 0, 1, 1, 1, 1, 2, 1, 3, 1, 0, 0, 0, 1, 2, 0, 0, 1, 1,
         1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
         0, 1, 0, 2, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 5, 0, 0, 0,
         0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
         0, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
         0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
         1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
         0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
        [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
         1, 0, 0, 1, 3, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
         0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
         0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
         0, 0, 1, 1, 3, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 3, 0, 0, 1,
         1, 0, 3, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
         1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [69]:
print(count_vectorizer.get_feature_names())

['13th', '1955', '2000', '2002', '2004', '357', '44', 'actors', 'africa', 'also', 'among', 'amp', 'angeles', 'asia', 'barron', 'best', 'boa', 'bowe', 'caliber', 'california', 'casper', 'chuck', 'clabaugh', 'classic', 'collectors', 'colt', 'combat', 'company', 'concerns', 'connecticut', 'coogan', 'cooper', 'cult', 'currently', 'dana', 'david', 'described', 'dien', 'directed', 'discontinued', 'dougherty', 'elm', 'engineered', 'englund', 'escapes', 'ever', 'evident', 'fame', 'favorite', 'features', 'film', 'filmed', 'films', 'final', 'finest', 'firearm', 'first', 'followed', 'for', 'formerly', 'found', 'freddy', 'friday', 'genetically', 'genus', 'girl', 'greek', 'hartford', 'hawks', 'hogg', 'horror', 'ian', 'includes', 'including', 'introduced', 'jeff', 'jenny', 'karate', 'keith', 'kid', 'known', 'krueger', 'leroy', 'like', 'longest', 'los', 'm29', 'made', 'magnum', 'malibu', 'manufactured', 'manufacturing', 'market', 'martin', 'mccarthy', 'member', 'movie', 'nightmare', 'nonvenomous', 'premium', 'production', 'python', 'pythons', 'recognised', 'referred', 'renee', 'reticulatus', 'revolver', 'richard', 'robert', 'role', 'scenario', 'sean', 'segment', 'sequels', 'series', 'several', 'small', 'smeets', 'smith', 'snake', 'snakes', 'sometimes', 'species', 'street', 'targeted', 'thompson', 'town', 'tv', 'two', 'unleashes', 'van', 'vs', 'wesson', 'whalen', 'wheaton', 'wil', 'william', 'word', 'writers', 'year', 'zabka']

In [70]:
print(count_vectorizer.vocabulary_)

{'python': 101, '2000': 2, 'made': 87, 'for': 58, 'tv': 128, 'horror': 70, 'movie': 96, 'directed': 38, 'richard': 108, 'clabaugh': 22, 'film': 50, 'features': 49, 'several': 116, 'cult': 32, 'favorite': 48, 'actors': 7, 'including': 73, 'william': 137, 'zabka': 141, 'karate': 77, 'kid': 79, 'fame': 47, 'wil': 136, 'wheaton': 135, 'casper': 20, 'van': 131, 'dien': 37, 'jenny': 76, 'mccarthy': 94, 'keith': 78, 'coogan': 30, 'robert': 109, 'englund': 43, 'best': 15, 'known': 80, 'role': 110, 'freddy': 61, 'krueger': 81, 'nightmare': 97, 'elm': 41, 'street': 124, 'series': 115, 'films': 52, 'dana': 34, 'barron': 14, 'david': 35, 'bowe': 17, 'sean': 112, 'whalen': 134, 'concerns': 28, 'genetically': 63, 'engineered': 42, 'snake': 120, 'escapes': 44, 'unleashes': 130, 'small': 117, 'town': 127, 'includes': 72, 'classic': 23, 'final': 53, 'girl': 65, 'scenario': 111, 'evident': 46, 'like': 83, 'friday': 62, '13th': 0, 'filmed': 51, 'los': 85, 'angeles': 12, 'california': 19, 'malibu': 89, 'followed': 57, 'two': 129, 'sequels': 114, '2002': 3, 'boa': 16, 'vs': 132, '2004': 4, 'also': 9, 'greek': 66, 'word': 138, 'genus': 64, 'nonvenomous': 98, 'pythons': 102, 'found': 60, 'africa': 8, 'asia': 13, 'currently': 33, 'species': 123, 'recognised': 103, 'member': 95, 'reticulatus': 106, 'among': 10, 'longest': 84, 'snakes': 121, 'colt': 25, '357': 5, 'magnum': 88, 'caliber': 18, 'revolver': 107, 'formerly': 59, 'manufactured': 90, 'manufacturing': 91, 'company': 27, 'hartford': 67, 'connecticut': 29, 'sometimes': 122, 'referred': 104, 'combat': 26, 'first': 56, 'introduced': 74, '1955': 1, 'year': 140, 'smith': 119, 'amp': 11, 'wesson': 133, 'm29': 86, '44': 6, 'discontinued': 39, 'targeted': 125, 'premium': 99, 'market': 92, 'segment': 113, 'firearm': 55, 'collectors': 24, 'writers': 139, 'jeff': 75, 'cooper': 31, 'ian': 71, 'hogg': 69, 'chuck': 21, 'hawks': 68, 'leroy': 82, 'thompson': 126, 'renee': 105, 'smeets': 118, 'martin': 93, 'dougherty': 40, 'described': 36, 'finest': 54, 'production': 100, 'ever': 45}

In [71]:
DTM=pd.DataFrame(x.toarray(), columns =count_vectorizer.get_feature_names())
DTM

,13th,1955,2000,2002,2004,357,44,actors,africa,also,...,vs,wesson,whalen,wheaton,wil,william,word,writers,year,zabka
0,1,0,1,1,1,0,0,1,0,1,...,1,0,1,1,1,1,0,0,0,1
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [72]:
DTM.T

             0  1  2
13th         1  0  0
1955         0  0  1
2000         1  0  0
2002         1  0  0
2004         1  0  0
357          0  0  1
44           0  0  1
actors       1  0  0
africa       0  1  0
also         1  0  0
among        0  1  0
amp          0  0  1
angeles      1  0  0
asia         0  1  0
barron       1  0  0
best         1  0  0
boa          1  0  0
bowe         1  0  0
caliber      0  0  1
california   2  0  0
casper       1  0  0
chuck        0  0  1
clabaugh     1  0  0
classic      1  0  0
collectors   0  0  1
colt         0  0  3
combat       0  0  1
company      0  0  1
concerns     1  0  0
connecticut  0  0  1
...         .. .. ..
sean         1  0  0
segment      0  0  1
sequels      1  0  0
series       1  0  0
several      1  0  0
small        1  0  0
smeets       0  0  1
smith        0  0  1
snake        1  0  0
snakes       0  1  0
sometimes    0  0  1
species      0  1  0
street       1  0  0
targeted     0  0  1
thompson     0  0  1
town         1  0  0
tv           2  0  0
two          1  0  0
unleashes    1  0  0
van          1  0  0
vs           1  0  0
wesson       0  0  1
whalen       1  0  0
wheaton      1  0  0
wil          1  0  0
william      1  0  0
word         0  1  0
writers      0  0  1
year         0  0  1
zabka        1  0  0

[142 rows x 3 columns]

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [74]:
tfidf_vect = TfidfVectorizer()

In [75]:
tfidf = tfidf_vect.fit_transform(doc['text'])

In [76]:
df_tfidf = pd.DataFrame(tfidf.toarray(), columns =tfidf_vect.get_feature_names())

In [77]:
df_tfidf

,13th,1955,2000,2002,2004,357,44,actors,africa,also,...,vs,wesson,whalen,wheaton,wil,william,word,writers,year,zabka
0,0.096398,0.000000,0.096398,0.096398,0.096398,0.000000,0.000000,0.096398,0.000000,0.096398,...,0.096398,0.000000,0.096398,0.096398,0.096398,0.096398,0.000000,0.000000,0.000000,0.096398
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.224015,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.224015,0.000000,0.000000,0.000000
2,0.000000,0.115688,0.000000,0.000000,0.000000,0.115688,0.115688,0.000000,0.000000,0.000000,...,0.000000,0.115688,0.000000,0.000000,0.000000,0.000000,0.000000,0.115688,0.115688,0.000000